<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h5 class="display-4 text-center mb-3">Gemini System</h5>
                            <form action="/login" method="post">
                                <!-- Username input -->
                                <div class="form-group mb-3">
                                    <input type="text" id="username" name="username" class="form-control rounded-pill border-0 shadow-sm px-4" placeholder="Username" required />
                                </div>
                                <!-- Password input -->
                                <div class="form-group mb-3">
                                    <input type="password" id="password" name="password" class="form-control rounded-pill border-0 shadow-sm px-4" placeholder="Password" required />
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p>Don't have an account? <a href="register" class="link-danger">Register</a></p>
                                </div>
                            </form>
                            <div id="error-modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p id="error-message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
